{% extends 'base.html.twig' %}

{% form_theme form 'forms/form_errors.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('/css/login.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
	
	<img class="white-bg-logo" alt="{% trans %}site.title{% endtrans %}" src="{{ asset('img/logo-glow.png') }}" width="140px" height="140px" />
	
	{% if form.vars.valid  %}		
		<div class="alert alert-info message" role="alert">
			{% trans %}form.label.resetPassword.instruction{% endtrans %}
		</div>
	{% else %}
		<div class="alert alert-danger message" role="alert">
		   	{{ form_errors(form.oldPassword) }}
			{{ form_errors(form.newPassword.first) }}
			{{ form_errors(form.newPassword.second) }}
		</div>
	{% endif %}
	
	{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'grey-box login-form'}}) }}
	
	    <div class="form-group ">
			<label>{% trans %}form.label.currentPassword{% endtrans %}</label>
		    {{ form_widget(form.oldPassword, {'attr': {'class': 'form-control'}}) }}
	    </div>
	    <div class="form-group ">
		    <label>{% trans %}form.label.newPassword{% endtrans %}</label>
		    {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group ">
			<label>{% trans %}form.label.repeatNewPassword{% endtrans %}</label>
		    {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control'}}) }}
		</div>	    
		{{ form_widget(form.change, {'attr': {'class': 'red-button'}}) }}
		
    {{ form_end(form) }}

{% endblock %}
