{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('/css/login.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
	
	<img class="white-bg-logo" alt="{% trans %}site.title{% endtrans %}" src="{{ asset('img/logo-glow.png') }}" width="140px" height="140px" />
	
	<div class="grey-box message">
		<h1>{% trans %}form.label.lostPassword{% endtrans %}</h1>
		
		<ol class="content">
		  <li>{% trans %}form.label.recoverPassword.step1{% endtrans %}</li>
		  <li>{% trans %}form.label.recoverPassword.step2{% endtrans %}</li>
		  <li>{% trans %}form.label.recoverPassword.step3{% endtrans %}</li>
		</ol>
		
	</div>
	
	{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'grey-box login-form'}}) }}

		<div class="form-group ">
		    <label>{% trans %}form.label.email{% endtrans %}</label>
		    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
		</div>		
		<div class="form-group ">
			{{ form_widget(form.recover, {'attr': {'class': 'red-button'}}) }}
		</div>		
		
    {{ form_end(form) }}
    
	{% if form.vars.valid == false %}		
		<div style="text-align: center; margin-top: 10px;">
			<label class="error">{{ 'notfound.email' | trans({}, 'validators') }}</label>
		</div>
	{% endif %}

{% endblock %}
